.meal-articul-container {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    max-width: 600px;
}

.meal-articul-image {
    width: 150px;
    height: 150px;
    margin-right: 16px;
}

.meal-articul-content {
    flex: 1;
    h2 {
        margin: 0 0 8px 0;
    }

    h3 {
        margin: 0 0 16px 0;
    }
}

.meal-articul-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 16px;
    text-align: center; 
}

.meal-articul-modal-image {
    width: 300px; 
    height: auto;
    margin-bottom: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.meal-articul-modal-content {
    text-align: left; 
}

