.loginFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 300px;
    background-color: white;
    border: solid 3px #ffffff;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

    .inputContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .EmailLogin,
    .Password {
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 100%;

    h2 {
        font-size: 1.2rem;
    }
    }

    button {
    height: 50px;

    &.loginButton {
        margin-top: 60px;
        background-color: #07ad9c;
        color: white;
        font-weight: 800;
        width: 100%;

        &:hover {
        background-color: #f3d070;
        color: black;
        }
    }

    &.Account {
        color: rgb(230, 125, 125);
        font-weight: 800;
        width: 100%;

        &:hover {
        color: #07ad9c;
        }
    }
    }
}

.customOverlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.customModal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 400px;
}



@media (max-width: 768px) {
    .loginFrame {
    margin: 30px;
    }

    .customModal {
        width: 80%;  
        padding: 10px;  
    }
}









// .loginFrame {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding:1em;
//     width: 300px;
//     background-color: white;
//     border: solid 3px #ffffff;
//     border-radius: 20px;
//     box-shadow: 0 3px 5px rgba(0,0,0,0.22);

//     .inputContainer{
//         width: 300px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         // background-color: #35b416;
        
//     }
//     .EmailLogin {
//         flex-direction:column;
//         display: flex;
//         align-items: center;
//         background-color: white;
//         border-radius: 20px;
//         //margin: 6px;
//         width: 100%;

//         h2 {
//             font-size: 1.2rem;
//         }
//     }

//     .Password {
//         flex-direction: column;
//         display: flex;
//         align-items: center;
//         background-color: white;
//         border-radius: 50px;
//         //margin: 6px;
//         width: 100%;
        

//         h2 {
//             font-size: 1.2rem;
//         }
//     }

//     button {
        
//         //margin: 30px;
//         //width: 180px;
//         height: 50px;

//         &.loginButton {
//             margin-top: 60px;
//             background-color: #07ad9c; 
//             color: white; 
//             font-weight: 800;
//             width: 100%;

//             &:hover {
//                 background-color: #f3d070;
//                 //background-color: rgb(230, 125, 125); 
//                 color: black;

//             }
//         }

//         &.Account {
//             //background-color: #35b416; 
//             color: rgb(230, 125, 125); 
//             font-weight: 800;
//             width: 100%;
//             &:hover {
//                 //background-color: #e4c778; 
//                 color: #07ad9c;
//             }
//         }
//     }


// }

// @media (max-width: 768px) {
//     .loginFrame {
//         margin: 30px;
//     }
// }



