/* src/pages/LoginPage.scss */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    //background-color: #caf7f3; 

    //ノーマル
    // background-color: #e5ebf4; 

    //シック系
    //background-color: #6a7c92; 

    //自然
    background-color: #7DA3A1;


    //background-color: black; 
}

.login-container h1 {
    font-family: "Playball", cursive;
    //color: #fbf398; 

    //シック系
    //color: #ffffff; 

    //ノーマル
    //color: #14b292; 

    //自然
    color: #34675c;

    //font-size: 48px;
    font-size: 57px;
    margin: 0; 
}

.login-container p {
    font-family: "Playball", cursive;
    
    //シック系
    color: #ceb384; 

    //ノーマル
    color: #000000; 
    //color: #b9a276; 

    //font-size: 24px;
    font-size: 27px;
    margin-bottom: 20px;
}
